extends ../node_modules/jade-bootstrap/_bootstrap


append body
	.container
		form(enctype="multipart/form-data",action="/templates/upload",method="post")#uploadexcel
			input(type="file" name="table")
			input(type="submit" value="提交")