body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropdown {
  margin-bottom: 13px;
}

.navbar-brand-thin {
  float: left;
  height: 40px;
  padding: 9px 9px;
  font-size: 18px;
  line-height: 20px;
}